.card {
  height: fit-content;
}
.card_content {
  background-color: #24123b !important;
}
.figure {
  width: 168px;
}

.image {
  border-radius: 7px;
}
.media {
  margin-bottom: 0px;
}
.small {
  display: block;
  color: var(--white);
}
.title {
  overflow: hidden;
}

.card_content:hover ~ div > .media_content > .title {
  color: red !important;
  background-color: green;
}

@media only screen and (max-width: 475px) {
  .media_left {
    width: 100%;
  }
  .title {
    padding-bottom: 1rem;
  }
  .media {
    display: flex;
    flex-direction: column-reverse;
  }
  .figure {
    width: 100%;
  }
}